/**=====================
     event css start
==========================**/
.event-image {
    width: 67%;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    -webkit-mask-image: url(../images/1.svg);
    mask-image: url(../images/1.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: right;
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
.event-content {
    padding: 60px 22px 20px 0;
    height: 600px;
    .event-tag {
        background-image: url(../images/shape/5.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        padding: 18px;
        width: 164px;
        height: 93px;
        text-align: center;
        display: flex;
        align-items: center;
        h6 {
            font-size: 10px;
            line-height: 16px;
            font-weight: bold;
            letter-spacing: 2px;
            color: #C6D8DD;
            text-transform: uppercase;
            transform: rotate(11deg);
        }
    }
    .event-title {
        display: flex;
        align-items: center;
        .event-shape {
            background-image: url(../images/shape/6.svg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 85px;
            margin-right: 8px;
        }
        h4 {
            font-weight: bold;
            letter-spacing: 0.6px;
            line-height: 24px;
            font-family: "Atlas Grotesk";
            margin-top: -5px;
        }
        h3 {
            font-family: "Canela-Light";
        }
    }
    .event-bottom-details {
        max-height: 145px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px transparent;
        }
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar {
            width: 3px;
            border-radius: 13px;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px;
            background-color: transparent;
            color: transparent;
        }
    }
    p {
        font-family: 'Founders Grotesk';
        font-weight: normal ;
        text-transform: inherit;
        margin-bottom: 0;
        word-break: break-word;
        a {
            font-family: 'Founders Grotesk';
            font-weight: normal ;
            text-transform: inherit;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.36px;
        }
    }
    .event-bottom {
        padding-left: 5px;
        margin-top: 17px;
        a {
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 21px;
            display: inline-block;
        }
    }
    .event-details {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.event-slider {
    &.slick-dotted {
        &.slick-slider {
            margin-bottom: 0;
        }
    }
    .slick-list {
        margin-bottom: -12px;
    }
    .slick-slide {
        > div {
            margin-bottom: -12px;
        }
    }
    .slick-dots {
        width: unset;
        left: 58.35%;
        bottom: 74px;
        li  {
            width: auto;
            height: auto;
            button {
                background-image: url(../images/shape/7.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 10px;
                height: 9px;
                padding: 0;
                &:before {
                    display: none;
                }
            }
            &.slick-active {
                button {
                    background-image: url(../images/shape/8.svg);
                }
            }
        }
    }
}

/**=====================
     event css end
==========================**/