/**=====================
    responsive css start
==========================**/
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1810px) {
    .title  {
        h2  {
            width: 35%;
        }
    }
}

@media (max-width: 1800px) {
    /* instagram section css start */
    .insta-image-section {
        .slick-slide {
            img {
                height: 430px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 1708px) {
    .title  {
        h2  {
            width: 37%;
        }
    }
}

@media (max-width: 1660px) {
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 42%;
                    }
                    .decor-3 {
                        left: 55%;
                    }
                }
            }
        }
    }
    /* home section css end */
    /* event section css start */
    .event-image {
        width: 61%;
    }
    .event-content {
        .event-bottom-details {
            width: 80%;
        }
    }
    /* event section css end */
     /* instagram section css start */
     .insta-image-section {
        .slick-slide {
            img {
                height: 400px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 1617px) {
    .title  {
        h2  {
            width: 39%;
        }
    }
}

@media (max-width: 1536px) {
    .title  {
        h2  {
            width: 41%;
        }
    }
}

@media (max-width: 1519px) {
     /* instagram section css start */
     .insta-image-section {
        .slick-slide {
            img {
                height: 370px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 1462px) {
    .title  {
        h2  {
            width: 43%;
        }
    }
}
@media (max-width: 1460px) {
    .title {
        h4 {
            width: 31%;
        }
    }
}
@media (max-width: 1399px) {
    .title  {
        h2  {
            width: 46%;
        }
    }
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 49%;
                    }
                    .decor-3 {
                        left: 64%;
                    }
                }
            }
        }
    }
    /* home section css end */
    /* instagram section css start */
    .insta-image-section {
        .slick-slide {
            img {
                height: 350px;
            }
        }
    }
    /* instagram section css end */
}


@media (max-width: 1366px) {
    .main-header {
        .navbar {
            ul {
                li  {
                    a {
                        letter-spacing: 3.6px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    + li {
                        margin-top: 11px;
                    }
                }
            }
        }
    }
    .menu-with-bg {
        li {
             a {
                  font-size: 14px;
                  line-height: 14px;
                  &::before {
                    width: 131px;
                    height: 34px;
                  }
             }
        }
   }
   footer {
    ul {
        li {
            a {
                font-size: 10px; 
            }
        }
    }
   }
   /* home section css start */
   .home-section {
        min-height: 800px;
       .row {
            align-items: flex-start;
            padding-top: 261px;
       }
       .home-content {
           p {
                font-size: 10px;
                line-height: 14px;
           }
       }
       .shape-bg {
            width: 73%;
            position: absolute;
            right: 0;
            top: 0;
       }
       .home-decoration {
            ul {
                li {
                    .decor-1 {
                        bottom: 60px;
                    }
                    .decor-2 {
                        left: 39%;
                        bottom: 315px;
                    }
                    .decor-3 {
                        left: 53%;
                        bottom: 80px;
                    }
                }
            }
       }
       .home-menu {
            bottom: 27px;
       }
   }
   /* home section css end */
   /* event section css start */
   .event-image, .event-content {
       height: 508px;
   }
   .event-content {
       padding-top: 55px;
        .event-bottom-details {
            max-height: 67px;
        }
        .event-bottom {
            a {
                font-size: 10px;
                line-height: 14px;
                margin-top: 22px;
            }
        }
   }
    /* event section css end */
    /* location section css start */
   .location-section {
       .location-image {
            img {
                width: 100%;
                height: 482px;
            }
       }
       .location-slider {
            .slick-list {
                padding-left: 0 !important;
            }
       }
   }
   /* location section css end */
   /* brand section css start */
   .brand-slider {
       padding: 0 40px;
   }
   /* brand section css end */
   /* about section css start */
   .about-section {
    .about-content {
        padding-left: 0;
        margin-left: -1px;
        p {
            width: 88%;
        }
        ul {
            margin-left: -24px;
            li {
                a {
                    font-size: 12px;
                    letter-spacing: 0.36px;
                }
                + li {
                    margin-top: 8px;
                }
            }
        }
        .about-detail {
            padding-left: 0;
        }
    }
    .about-image {
        img {
            width: 94%;
        }
    }
   }
   /* about section css end */
   /* instagram section css start */
   .insta-image-section {
        .slick-slide {
            img {
                height: 346px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 1305px) {
    .title  {
        h2  {
            width: 48%;
        }
    }
}

@media (max-width: 1252px) {
    .title  {
        h2  {
            width: 51%;
        }
    }
}

@media (max-width: 1199px) {
    h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .title  {
        h2  {
            width: 56%;
        }
    }
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 43%;
                        bottom: 340px;
                    }
                    .decor-3 {
                        left: 59%;
                    }
                }
            }
        }
    }
    /* home section css end */
    /* about section css start */
    .about-section {
        .about-image {
            img {
                height: 530px;
            }
        }
        .about-content {
            p {
                width: 100%;  
            }
            ul {
                margin-left: 0;
            }
        }
    }
    /* about section css end */
}
@media (max-width: 1077px) {
    .title  {
        h2  {
            width: 59%;
        }
    }
}
@media (max-width: 1023px) {
    .insta-image-section {
        .slick-slide {
            &:nth-child(3n+1) {
                margin-top: 40px;
            }
            &:nth-child(3n+2) {
                margin-top: 90px;
            }
            &:nth-child(3n+3) {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 991px) {
    footer {
        padding: 30px;
    }
    .main-header {
        padding: 22px 40px;
        .menu-brand {
            ul {
                li {
                    img {
                        width: 160px;
                    }
                }
            }
        }
        .menu {
            padding: 51px 40px 0 17px;
        }
    }
    header {
        .menu-bar {
            .bar-icon {
                .menu-toggle, .menu-close {
                    right: 40px;
                }
            }
        }
    }
    .title {
        h2  {
            width: 65%;
        }
        h4 {
            width: 42%;
        }
    }
    /* home section css start */
    .home-section {
        padding-left: 0;
        height: auto;
            min-height: auto;
        .row {
            height: auto;
            min-height: auto;
            justify-content: center;
        }
        .home-content {
            padding: 0 50px;
            text-align: center;
            p {
                display: inline-block;
            }
        }
        .home-decoration {
            width: 0;
            height: 0;
            ul {
                li {
                    .decor-1, .decor-2, .decor-3 {
                        display: none;
                    }
                }
            }
        }
        .shape-bg {
            position: relative;
            top: unset;
            right: unset;
            width: 100%;
            height: 700px;
            min-height: unset;
            -webkit-mask-image: url(../images/2.svg);
            mask-image: url(../images/2.svg);
            -webkit-mask-position: top;
        }
    }
    /* home section css end */
    /* event section css start */
    .event-image {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        -webkit-mask-image: unset;
        mask-image: unset;
        img {
            height: 500px;
        }
    }
    .event-image, .event-content {
        height: unset;
    }
    .event-content {
        padding-right: 0;
        padding-bottom: 0;
        .event-details {
            width: 70%;
            padding: 20px;
        }
        .event-bottom-details {
            max-height: unset;
            overflow: unset;
        }
        .event-tag {
            margin-right: 30px;
        }
    }
    .event-section {
        .row {
            .col-lg-5 {
                order: -1;
            }
        }
    }
    .event-slider {
        .slick-dots {
            left: unset;
            bottom: unset;
            right: 26px;
            top: 33%;
            li {
                display: block;
                button {
                    transform: rotate(35deg);
                }
                + li {
                    margin-top: 12px;
                }
            }
        }
    }
    /* event section css end */
    /* about section css start */
    .about-section {
        padding: 90px 0;
        .about-wrapper {
            position: relative;
        }
        .about-image {
            text-align: center;
            img {
                height: 460px;
                width: auto;
            }
        }
        .about-content {
            margin-top: 80px;
            margin-left: 0;
        }
    }
    /* about section css end */
    /* location section css start */
    .location-section {
        .location-slider {
            .slick-list {
                margin-right: -12px;
            }
        }
    }
    /* location section css end */
    /* instagram section css start */
     .instagram-section {
        padding-bottom: 90px;
    }
    /* instagram section css end */
}
@media (max-width: 767px) {
    h2 {
        font-size: 22px;
    }
    .title {
        h2 {
            line-height: 32px;
            width: 73%;
        }
        h4 {
            width: 60%;
        }
    }
    header {
        position: relative;
        flex-direction: column;
        text-align: center;
        .language-list {
            display: flex;
            flex-direction: column;
            ul {
                opacity: 0;
                visibility: hidden;
                z-index: 0;
                li {
                    + li {
                        a {
                            &::before {
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
        .navbar-brand {
            order: -1;
            img {
                height: 65px;
            }
        }
        .menu-bar {
            .bar-icon {
                position: relative;
                .menu-toggle {
                    position: absolute;
                    right: unset;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    top: -19px;
                    width: 42px;
                    height: 36px;
                    transition: unset;
                }
                .menu-close {
                    right: unset;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    top: 150px;
                }
            }
        }
    }
    .main-header {
        padding: 58px 40px;
        .menu {
            display: block;
            height: unset;
            overflow: unset;
            padding: 0 40px 0;
        }
        .navbar {
            padding-bottom: 83px;
            padding-top: 222px;
            ul {
                align-items: center;
            }
        }
        .location-icon {
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            li {
                display: inline-block;
                img {
                    width: 43px;
                    height: 43px;
                }
                + li {
                    margin-top: 0;
                    margin-left: 23px;
                }
            }
        }
        &.open {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: scroll; 
            height: auto; 
            min-height: 100vh;
            header {
                .navbar-brand {
                    margin-bottom: 120px;
                }
                .language-list {
                    ul {
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                    }
                }
                .menu-bar {
                    .bar-icon {
                        .menu-toggle {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    footer {
        ul {
            li {
                display: block;
                text-align: center;
                + li {
                    margin-left: 0;
                }
            }
        }
    }
    .home-section {
        padding-bottom: 10px;
        .shape-bg {
            height: 640px;
        }
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        bottom: 300px;
                        left: 30%;
                    }
                }
            }
        }
        .row {
            padding-top: 224px;
        }
    }
    /* event section css start */
    .event-content {
        background-image: url(../images/shape/11.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 130px 0 30px;
        .event-details {
            margin: 0 auto;
            width: 90%;
        }
        .event-tag {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            margin-right: 0;
        }
    }
    .event-image {
        img {
            margin-bottom: 52px;
            height: 450px;
        }
    }
    .event-slider {
        .slick-dots {
            top: 34%;
        }
    }
    /* event section css end */
    /* location section css start */
    .location-section {
        .location-image {
            img {
                height: 360px;
            }
        }
    }
    /* location section css end */
    /* about section css start */
    .about-section {
        padding: 70px 0;
        .about-image {
            img {
                height: 390px;
                object-fit: cover;
            }
            .about-shape {
                top: -90px;
                width: 155px;
            }
        }
        .about-content {
            .about-detail {
                padding-left: 0;
            }
        }
    }
    /* about section css end */
    /* brand section css start */
    .brand-slider {
        padding: 0;
    }
    .brand-image {
        img {
            height: 80px;
        }
    }
    /* brand section css end */
    /* instagram section css start */
    .instagram-section {
        padding-bottom: 80px;
        .slick-slide {
            img {
                height: 300px;
            }
        }
    }
    /* instagram section css end */
}
@media (max-width: 630px) {
    
}
@media (max-width: 600px) {
    .title {
        h2 {
            width: 92%;
        }
    }
}
@media (max-width: 575px) {
    .main-header {
        .location {
            li {
                p {
                    line-height: 14px;  
                    letter-spacing: 2.4px;
                }
            }
        }
        .menu {
            padding-top: 0;
        }
        .navbar {
            ul {
                li {
                    + li {
                        margin-top: 13px;
                    }
                }
            }
        }
    }
    h1 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.3px;
    }
    h2 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.54px;
    }
    h4 {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 3.6px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.32px;
    }
    .title {
        h2 {
            line-height: 24px;
        }
        h4 {
            line-height: 24px;
            width: 72%;
            padding-top: 44px;
        }
    }
    footer {
        padding: 23px 23px 33px;
        ul {
            li {
                line-height: 24px;
                a {
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 2px; 
                }
            }
        }
    }
    /* home section css start */
    .home-section {
        .home-content {
            padding: 0 30px;
            h1 {
                margin-bottom: 27px;
            }
            p {
                width: 38%;
                span {
                    display: none;
                }  
            }
        }
        .shape-bg {
            height: 420px;
        }
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        bottom: 190px;
                        left: 29%;
                    }
                }
            }
        }
    }
    /* home section css end */
    .instagram-section {
        .slick-slide {
            img {
                height: 220px;
            }
        }
    }
    .insta-image-section {
        margin-top: -45px;
    }
    .event-image {
        img {
            margin-bottom: 40px;
        }
    }
    .event-content {
        padding: 40px 0 34px;
        p {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.32px;
        }
        .event-title {
            h4 {
                font-family: 'Founders Grotesk';
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.72px;
                margin-top: 4px;
            }
            h3 {
                font-size: 20px;
                line-height: 50px;
                letter-spacing: 0.4px;
            }
            .event-shape {
                width: 79px;
                height: 77px;
                margin-right: 12px;
                background-image: url(../images/shape/13.svg);
            }
        }
        .event-details {
            width: 64%;
            padding: 10px;
        }
        .event-bottom {
            margin-top: 13px;
            a {
                margin-top: 17px;
                font-size: 8px;
                letter-spacing: 1.6px;
            }
        }
        .event-tag {
            width: 130px;
            height: 72px;
            h6 {
                font-size: 8px;
                line-height: 11px;
                letter-spacing: 1.6px;
                color: #FAF9F5;
                transform: rotate(10deg);
                margin-top: 5px;
            }
        }
        .event-bottom-details {
            width: 69%;
        }
    }
    .event-slider {
        .slick-dots  {
            top: 29.5%;
        }
    }
    .event-image {
        img {
            height: 330px;
        }
    }
    .brand-section {
        padding-top: 48px;
        .slick-slide {
            .brand-image {
                margin-bottom: 29px;
                &::before {
                    width: 69px;
                    height: 19px;
                    bottom: -29px;
                }
            }
        }
    }
    .brand-for {
        margin-top: 20px;
    }
    .location-section {
        padding-top: 40px;
        .location-slider {
            .slick-slide {
                > div {
                    padding: 0 2px;
                }
            }
        }
    }
    .location-slider {
        margin-left: -12px;
    }
    .about-section {
        padding: 67px 0 51px;
        .about-content {
            padding: 0 24px;
            margin-top: 57px;
            h4 {
                letter-spacing: 3.6px;
                margin-bottom: 49px;
            }
            p {
                line-height: 22px;
                letter-spacing: 0.32px;
            }
            ul {
                margin-top: 20px;
                li {
                    a {
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.36px;
                    }
                   + li {
                       margin-top: 12px;
                   }
                }
            }
        }
        .about-image {
            margin: 0 -12px;
        }
    }
}

@media (max-width: 480px) {
    .slick-dotted {
        &.slick-slider {
            margin-bottom: 28px;
        }
    }
    .main-header {
        .location {
            width: 100%;
        }
    }
    footer {
        padding: 28px 28px 26px;
    }
    .title {
        h4 {
            width: 85%; 
        }
    }
    .home-section {
        .home-decor-rs {
            ul {
                li {
                    .decor-4  {
                        left: 19%;
                    }
                }
            }
        }
       .home-content {
            p {
                width: 42%;
            }
       }
    }
    .event-content {
        background-size: auto;
        .event-details {
            width: 68%;
        }
        .event-bottom-details {
            width: 100%;
        }
    }
    .event-slider {
        .slick-dots {
            top: 35%;
        }
    }
    .event-image {
        img {
            height: 241px;
        }
    }
    /* brand section css start */
    .brand-image {
        img {
            height: 80px;
            object-fit: contain;
        }
    }
    .brand-slider {
        .slick-list {
            padding-left: 0 !important;
            margin-right: -12px;
        }
    }
    .brand-section {
        .slick-slide {
            img {
                padding: 0 0 5px;
            }
        }
    }
    /* brand section css end */
    /* location section css start */
    .location-section {
        .location-image {
            img {
                height: 283px;
                width: auto;
            }
        }
    }
    /* location section css end */
    /* about section css start */
    .about-section {
        .about-content {
            margin-top: 56px;
            padding: 0 24px;
            ul {
                margin-top: 35px;
            }
        }
        .about-image {
            img {
                height: 347px;
            }
            .about-shape {
                top: -80px;
                left: -30px;
            }
        }
    }
    /* about section css end */
    /* instagram section css start */
    .instagram-section {
        padding-bottom: 59px;
    }
    .insta-image-section {
        > div {
            padding: 0 2px;
        }
        .slick-slide {
            &:nth-child(3n+1) {
                margin-top: 13px;
            }
            &:nth-child(3n+2) {
                margin-top: 46px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 475px) {
    /* instagram section css start */
    .insta-image-section {
        .slick-slide {
            &:nth-child(3n+1) {
                margin-top: 46px;
            }
            &:nth-child(3n+2) {
                margin-top: 0;
            }
            &:nth-child(3n+3) {
                margin-top: 13px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 420px) {
    .home-section {
        .shape-bg {
            height: 410px;
            margin-top: -21px;
        }
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        left: 20px;
                        bottom: 159px;
                    }
                }
            }
        }
        .home-content {
            p {
                width: 54%;
            }
       }
    }
     /* instagram section css start */
    .instagram-section {
        .slick-slide {
            img {
                height: 189px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 400px) {
    .home-section {
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        bottom: 190px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .main-header {
        .menu {
            .container {
                padding: 0;
            }
        }
    }
    .home-section {
        .home-content {
            p {
                width: 53%;
            }
        }
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        bottom: 198px;
                    }
                }
            }
        }
    }
    .event-content {
        .event-details {
            width: 74%;
        }
    }
    /* about section css start */
    .about-section {
        .about-content {
            padding: 0 6px;
        }
    }
    /* about section css end */
    /* instagram section css start */
    .instagram-section {
        .slick-slide {
            img {
                height: 175px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 340px) {
    /* instagram section css start */
    .instagram-section {
        .slick-slide {
            img {
                height: 140px;
            }
        }
    }
    /* instagram section css end */
}

@media (max-width: 320px) {
    .home-section {
        .home-content {
            p {
                width: 62%;
            }
        }
        .home-decor-rs {
            ul {
                li {
                    .decor-4 {
                        bottom: 223px;
                    }
                }
            }
        }
    }
}


/**=====================
    responsive css end
==========================**/