/**=====================
    responsive css start
==========================**/
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1810px) {
    .title  {
        h2  {
            width: 35%;
        }
    }
}

@media (max-width: 1708px) {
    .title  {
        h2  {
            width: 37%;
        }
    }
}

@media (max-width: 1660px) {
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 42%;
                    }
                    .decor-3 {
                        left: 55%;
                    }
                }
            }
        }
    }
    /* home section css end */
    /* event section css start */
    .event-image {
        width: 61%;
    }
    .event-content {
        .event-bottom-details {
            width: 80%;
        }
    }
    /* event section css end */
}

@media (max-width: 1617px) {
    .title  {
        h2  {
            width: 39%;
        }
    }
}

@media (max-width: 1536px) {
    .title  {
        h2  {
            width: 41%;
        }
    }
}

@media (max-width: 1462px) {
    .title  {
        h2  {
            width: 43%;
        }
    }
}
@media (max-width: 1399px) {
    .title  {
        h2  {
            width: 46%;
        }
    }
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 49%;
                    }
                    .decor-3 {
                        left: 64%;
                    }
                }
            }
        }
    }
    /* home section css end */
}


@media (max-width: 1366px) {
    .main-header {
        .navbar {
            ul {
                li  {
                    a {
                        letter-spacing: 3.6px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    + li {
                        margin-top: 11px;
                    }
                }
            }
        }
    }
    .menu-with-bg {
        li {
             a {
                  font-size: 14px;
                  line-height: 14px;
                  &::before {
                    width: 131px;
                    height: 34px;
                  }
             }
        }
   }
   /* home section css start */
   .home-section {
       .row {
            align-items: flex-start;
            padding-top: 261px;
       }
       .home-content {
           p {
                font-size: 10px;
                line-height: 14px;
           }
       }
       .shape-bg {
            width: 73%;
            position: absolute;
            right: 0;
            top: 0;
       }
       .home-decoration {
            ul {
                li {
                    .decor-1 {
                        bottom: 120px;
                    }
                    .decor-2 {
                        left: 40%;
                        bottom: 360px;
                    }
                    .decor-3 {
                        left: 57.5%;
                        bottom: 80px;
                    }
                }
            }
       }
       .home-menu {
            bottom: 27px;
       }
   }
   /* home section css end */
   /* event section css start */
   .event-image, .event-content {
       height: 508px;
   }
   .event-content {
       padding-top: 55px;
        .event-bottom-details {
            max-height: 67px;
        }
        .event-bottom {
            a {
                font-size: 10px;
                line-height: 14px;
                margin-top: 22px;
            }
        }
   }
    /* event section css end */
    /* location section css start */
   .location-section {
       .location-image {
            img {
                width: 100%;
                height: 482px;
            }
       }
       .location-slider {
            .slick-list {
                padding-left: 0 !important;
            }
       }
   }
   /* location section css end */
   /* brand section css start */
   .brand-slider {
       padding: 0 40px;
   }
   /* brand section css end */
   /* about section css start */
   .about-section {
    .about-content {
        padding-left: 0;
        margin-left: -5px;
        p {
            width: 100%;
        }
    }
    .about-image {
        img {
            width: 94%;
        }
    }
   }
   /* about section css end */
}

@media (max-width: 1305px) {
    .title  {
        h2  {
            width: 48%;
        }
    }
}

@media (max-width: 1252px) {
    .title  {
        h2  {
            width: 51%;
        }
    }
}

@media (max-width: 1199px) {
    h1 {
        font-size: 38px;
        line-height: 50px;
    }
    /* home section css start */
    .home-section {
        .home-decoration {
            ul {
                li {
                    .decor-2 {
                        left: 43%;
                        bottom: 340px;
                    }
                    .decor-3 {
                        left: 59%;
                    }
                }
            }
        }
    }
    /* home section css end */
    /* about section css start */
    .about-section {
        .about-image {
            img {
                height: 530px;
            }
        }
    }
    /* about section css end */
}
@media (max-width: 991px) {
    footer {
        padding: 30px;
    }
    .main-header {
        padding: 22px 40px;
        .menu-brand {
            ul {
                li {
                    img {
                        width: 160px;
                    }
                }
            }
        }
    }
    /* home section css start */
    .shape-bg {
        display: none;
    }
    .home-section {
        .shape-bg-1 {
            display: block;
        }
    }
    /* about section css start */
    .about-section {
        padding: 90px 0;
        .about-wrapper {
            position: relative;
        }
        .about-image {
            margin-top: 64px;
            text-align: center;
            img {
                height: 460px;
                width: auto;
            }
        }
        .about-content {
            margin-top: 40px;
            margin-left: 0;
            h4 {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
            }
        }
    }
    /* about section css end */
    /* location section css start */
    .location-section {
        .location-slider {
            .slick-list {
                margin-right: -12px;
            }
        }
    }
    /* location section css end */
    /* instagram section css start */
     .instagram-section {
        padding-bottom: 90px;
    }
    /* instagram section css end */
}
@media (max-width: 767px) {
    header {
        position: relative;
        display: block;
        padding: 24px 25px;
        .navbar-brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            top: 90px;
            width: 100%;
            text-align: center;
            img {
                height: 23px;
            }
        }
        .menu-bar {
            .menu-toggle,  .menu-close {
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            .bar-icon {
                float: right;
                margin-top: -36px;
            }
            .menu-close {
                img {
                    top: 0;
                    margin-left: 0;
                }
            }
        }
    }
    .main-header {
        .menu {
            position: relative;
            top: unset;
            left: unset;
            height: unset;
            opacity: 1;
            visibility: visible;
            clear: both;
            animation: unset !important;
            z-index: unset;
            padding-top: 97px;
        }
        .navbar {
            position: fixed;
            top: 200px;
            left: 0;
            width: 100%;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
            padding-top: 93px;
            animation: fadeOut 0.3s linear;
            z-index: 1;
        }
        &.open {
            .navbar {
                opacity: 1;
                visibility: visible;
                animation: fadeIn 0.3s linear;
            }
        }
    }
    footer {
        ul {
            li {
                display: block;
                text-align: center;
                + li {
                    margin-left: 0;
                }
            }
        }
    }
    /* location section css start */
    .location-section {
        .location-image {
            img {
                height: 360px;
            }
        }
    }
    /* location section css end */
    /* about section css start */
    .about-section {
        padding: 70px 0;
    }
    /* about section css end */
    /* brand section css start */
    .brand-slider {
        padding: 0;
    }
    .brand-image {
        img {
            height: 80px;
        }
    }
    /* brand section css end */
    /* instagram section css start */
    .instagram-section {
        padding-bottom: 80px;
    }
    /* instagram section css end */
}
@media (max-width: 575px) {
    .main-header {
        .location {
            width: 80%;
            li {
                p {
                    font-size: 10px;
                    line-height: 14px;  
                    letter-spacing: 2px;
                }
            }
        }
        .menu {
            padding-top: 99px;
        }
    }
    header {
        padding: 27px 25px;
        .navbar-brand {
            top: 96px;
        }
    }
}

@media (max-width: 480px) {
    .slick-dotted {
        &.slick-slider {
            margin-bottom: 28px;
        }
    }
    .main-header {
        .location {
            width: 100%;
        }
    }
    h2 {
        font-size: 39px;
        line-height: 44px;
    }
    footer {
        padding: 28px 28px 26px;
    }
    /* brand section css start */
    .brand-image {
        img {
            height: 80px;
            object-fit: contain;
        }
    }
    .brand-slider {
        .slick-list {
            padding-left: 0 !important;
            margin-right: -12px;
        }
    }
    .brand-section {
        padding-top: 65px;
        .slick-slide {
            img {
                padding: 0 0 5px;
            }
        }
    }
    /* brand section css end */
    /* location section css start */
    .location-section {
        padding-top: 20px;
        .location-image {
            img {
                height: 283px;
                width: auto;
            }
        }
        .location-slider {
            .slick-slide {
                > div {
                    padding: 0 2px;
                }
            }
        }
    }
    /* location section css end */
    /* about section css start */
    .about-section {
        padding-bottom: 76px;
        .about-content {
            margin-top: 28px;
            padding: 0 24px;
            h4 {
                font-size: 16px;
                line-height: 14px;
                letter-spacing: 3.2px;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.48px;
            }
            ul {
                margin-top: 35px;
                li {
                    a {
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.36px;
                        display: block;
                    }
                    + li {
                        margin-top: 9px;
                    }
                }
            }
        }
        .about-image {
            margin-top: 61px;
            img {
                height: 361px;
            }
        }
    }
    /* about section css end */
    /* instagram section css start */
    .instagram-section {
        padding-bottom: 59px;
    }
    .insta-image-section {
        margin: 0 -2px;
        > div {
            padding: 0 2px;
        }
    }
    /* instagram section css end */
}

@media (max-width: 360px) {
    .main-header {
        .menu {
            .container {
                padding: 0;
            }
        }
    }
    /* about section css start */
    .about-section {
        .about-content {
            padding: 0 6px;
        }
    }
    /* about section css end */
}


/**=====================
    responsive css end
==========================**/